.main-container{
    margin-top: 30px;
    margin-left: 12%;
    margin-right: 80px;
    display: flex;
}
.Reflection-container{
    width: 35%;
    height: 300px;
    margin-bottom: 60px;
}
.Reflection{
    width: 100%;
    object-fit: cover;
}
.Reflection-details{
    font-size: 16px;

}
.Reflection-title{
    font-size: 40px;
}
.Reflection-d{
    margin-left: 100px;
}
.previous{
    position: fixed; 
    top: 50%; 
    left: 0;
}
.next{
    position: fixed; 
    top: 50%; 
    right: 0;
}
@media screen and (max-width:850px) and (min-width:100px){
    .main-container{
        flex-direction: column;
        margin-left: 15px;
        margin-right: 15px;
        justify-content: center !important;
        display: block;
        margin-top: 40px;
        overflow-x: hidden;
    } 
    .Reflection{
        width: 100%;
        height: 100%;
        
    } 
    .Reflection-title{
        font-size: 30px;
    }
    .Reflection-container{
        width: 100%;
        height: 100%;
        margin-bottom: 0;
    }
.Reflection-d{
    margin-left: 3%;
    top: 0;
}
.Reflection-details{
    font-size: 12px;
    
}
}